html 
{
	scroll-behavior: smooth;
}


body {
	margin: 0px;
	padding: 0px;
}

body a {
	text-decoration: none;
}



.titles {
	background-color: #AB52A4;
	padding-bottom: 110px;
	
}

.title {
	font-size: 42px;
	color: white;
	font-family: 'Montserrat';
	padding-left: 40px;
	padding-top: 30px;
	padding-bottom: 25px;
	float: left;
	
}

.navbar a {
	color: white;
}


.navbar ul {
	float: right;
	color: black;
	margin-top: 47px;
	margin-right: 43px;
	
}

.navbar li{
	display: inline-block;
	font-size: 18px;
	font-family: "montserrat";
	padding-right: 20px;
	
}



.navbar a:hover {
	color: black;
}

.current a {
	color: black;
}

.banner{
	width: 100%;
}

.marquee marquee {
	color: white;
	font-size: 30px;
	padding-bottom: 10px;

}

.marquee img {
	width: 2000px;
}


.chithravideo video{
	width: 800px;
	height: 600px;
}

.chithravideo {
	text-align: center;
	margin: 0px;
		padding-bottom: 40px;
}

.gallery-h1 {
	text-align: center;
	font-size: 40px;	
	font-family: montserrat;
	padding-top: 30px;
	marign: 0px;
}

.gallerypage{
	background-image: url(gallerypage3.jpg);
	padding-bottom: 2200px;
	background-size: contain;

}

